.camisetas-container{
    padding: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: var(--cor-2);    
}
.camiseta-imagem{
    width: 100%;
    background-color: var(--cor-4);
    display: block;
    align-items: center;
    border-radius: 5px;
    position: relative;
    padding: 5rem;
}
.camiseta-conteudo{
    background-color: var(--cor-0);
    padding-left: 6rem;
    position: relative;
}
.camiseta-imagem img{
    width: 100%;
}
.camiseta-ul img{
    margin-right: 2rem;
} 
.camiseta-ul{
    font-size: 2.5rem;
}     
.camiseta-h2{
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 5rem;
}
.camiseta-p{
    margin-bottom: 3.2rem;
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
}
.camiseta-li{
   display: flex;
    align-items: center;
    margin-top: 4rem;
}

.camiseta-imagem span{
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem 1rem;
    background: var(--cor-5);
    color: var(--cor-4);
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
}
.botao{
    background-color: var(--cor-1);
    border-radius: 4px;
    margin-top: 1rem;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    color: var(--cor-4);
    text-transform:uppercase;
    font-weight: bold;
    position: absolute;
}
.botao:hover{
    background-color: var(--cor-5);
    color: var(--cor-4);
    transition: 0.5s;
}
#botao-bone,
#botao-tenis,
#botao-relogio{
    font-size: 2.3rem;
    top: 500px;
    right: 100px; 
}
.botao{
    font-size: 2.3rem;
    top: 500px;
    right: 100px; 
}
#botao-bone{
    
    background-color: var(--cor-1);
    border-radius: 4px;
    margin-top: 1rem;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    color: var(--cor-4);
    text-transform:uppercase;
    font-weight: bold;
    position: absolute;
     
}
#botao-bone:hover{
    background-color: var(--cor-5);
    color: var(--cor-4);
    transition: 0.5s;
}
#botao-tenis{
 
    background-color: var(--cor-1);
    border-radius: 4px;
    margin-top: 1rem;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    color: var(--cor-4);
    text-transform:uppercase;
    font-weight: bold;
    position: absolute; 
}
#botao-tenis:hover{
    background-color: var(--cor-5);
    color: var(--cor-4);
    transition: 0.5s;
}
#botao-relogio{
    
    background-color: var(--cor-1);
    border-radius: 4px;
    margin-top: 1rem;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    color: var(--cor-4);
    text-transform:uppercase;
    font-weight: bold;
    position: absolute;
}
#botao-relogio:hover{
    background-color: var(--cor-5);
    color: var(--cor-4);
    transition: 0.5s;
}
/*_____________________________________*/
/*MEDIA 1024PX*/
@media (max-width:1024px){
    html{
        font-size: 50%;
    }
    .botao{
    position: absolute;
    top: 300px;
    right: 30px;
    font-size: 2rem;
    }
    .camiseta-ul{
        font-size: 2rem;
    }
    #botao-tenis,
    #botao-relogio,
    #botao-bone{
    top: 300px;
    right: 30px;
    font-size: 2rem;
    }
}
/*_____________________________________*/
@media (max-width:768px){
   
.camiseta-imagem{
    width: 100%;
    height: 345px;
    border-radius: 2px 0 0 2px;
}
.camiseta-imagem img{
    width: 100%;    
}
.camiseta-conteudo{
    height: 345px;
}
.camiseta-h2{
    font-size: 4rem;
    margin-bottom: 2rem;
}
.camiseta-p{
    font-size: 1.9rem;
}
.camiseta-li{
    margin-top: 2rem;
}
.botao{
    top: 210px;
    right: 15px;
    font-size: 1.5rem;
}
#botao-tenis,
#botao-relogio,
#botao-bone{
    top: 210px;
    right: 15px;
    font-size: 1.5rem;
}
.camiseta-ul{
    font-size: 1.5rem;
}

}

/*_____________________________________*/
/*MEDIA 600PX*/
@media (max-width: 600px){
    
    .camisetas-container{
        grid-template-columns: 1fr;
       margin-bottom: 0rem;
       position: relative;    
    }
    .camiseta-imagem{
        height: 350px;
        border-radius: 2px 2px 0 0;
        
    }
    .camiseta-conteudo{
       height: 255px;
        padding: 0rem;
    }
    .camiseta-h2{
        font-size: 3rem;
        text-align: center;
        margin-top: 0rem;
        margin-bottom: 0rem;  
    }
    .camiseta-p{
        padding: 1rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
        font-size: 2rem;
        text-align: center;
    }
    .camiseta-li{
        text-align: center;
        margin-top: 0rem;
        margin-left: 3rem;
        margin-bottom: 0rem;
    }
    .botao{
        position: absolute;
        top: 150px;
        right: 30px;
        padding: 0.5rem;
    }
    #p-calca{
        font-size: 1.8rem;
    }
    #botao-bone{
        position: absolute;
        top: 150px;
        right: 30px;
        font-size: 1.7rem;
        background-color: var(--cor-1);
        border-radius: 4px;
        margin-top: 1rem;
        padding: 0.5rem;
        text-decoration: none;
        display: inline-block;
        color: var(--cor-4);
        text-transform:uppercase;
        font-weight: bold;
    }
    #botao-bone:hover{
        background-color: var(--cor-5);
        color: var(--cor-4);
        transition: 0.5s;
    }
    #botao-tenis{
        position: absolute;
        top: 150px;
        right: 15px;
        font-size: 1.7rem;
        background-color: var(--cor-1);
        border-radius: 4px;
        margin-top: 1rem;
        padding: 0.5rem;
        text-decoration: none;
        display: inline-block;
        color: var(--cor-4);
        text-transform:uppercase;
        font-weight: bold;
    }
    #botao-tenis:hover{
        background-color: var(--cor-5);
        color: var(--cor-4);
        transition: 0.5s;
    }
    #botao-relogio{
        position: absolute;
        top: 175px;
        right: 25px;
        font-size: 1.7rem;
        background-color: var(--cor-1);
        border-radius: 4px;
        margin-top: 1rem;
        padding: 0.5rem;
        text-decoration: none;
        display: inline-block;
        color: var(--cor-4);
        text-transform:uppercase;
        font-weight: bold;
    }
    #botao-relogio:hover{
        background-color: var(--cor-5);
        color: var(--cor-4);
        transition: 0.5s;
    }
}    
/*_____________________________________*/
/*MEDIA 375PX*/
@media (max-width: 375px){
    .camiseta-conteudo{
        height: 285px;
    }
    .camiseta-imagem{
        height: 280px;
    }
    .botao{
        top: 240px;
        right: 30px;
        font-size: 1.4rem;
    }
    #botao-tenis{
        top: 240px;
        right: 100px;
        font-size: 1.4rem;
    }
    #botao-relogio{
        top: 240px;
        right: 100px;
        font-size: 1.4rem;
    }
    .preco{
        margin-top: 0.5rem;
        font-size: 1.3rem;
    }
}
/*_____________________________________*/
/*MEDIA 320PX*/
@media (max-width: 320px){
    .preco{
        margin-top: 0.5rem;
        font-size: 1.3rem;
    }
    .camiseta-h2{
        font-size: 2.5rem;
    }
    .camiseta-conteudo{
        height: 285px;
    }
    .camiseta-p{
        font-size: 1.6rem;
    }
    .camiseta-li{
        font-size: 1.4rem;
    }
    .camiseta-imagem{
        height: 230px;
    }
    #botao-tenis{
        top: 240px;
        right: 80px;
        font-size: 1.4rem;
    }
    .botao{
        top: 240px;
        right: 80px;
        font-size: 1.4rem;
    }
}