.camisetas-container{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background-color: var(--cor-2);    
}
.camiseta-imagem{
    width: 70%;
    background-color: var(--cor-4);
    display: block;
    align-items: center;
    border-radius: 5px;
    position: relative;
    padding: 100px;
}
.camiseta-conteudo{
    background-color: var(--cor-0);
    padding-left: 60px;
    position: relative;
}
.camiseta-imagem img{
    min-width: 100%;
}
.camiseta-ul img{
    margin-right: 20px;
}      
.camiseta-h2{
    margin-bottom: 80px;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 60px;
}
.camiseta-p{
    margin-bottom: 32px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}
.camiseta-li{
   display: flex;
    align-items: center;
    margin-top: 40px;
}
.botao{
    font-size: 25px;
    background-color: var(--cor-1);
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    color: var(--cor-4);
    text-transform:uppercase;
    font-weight: bold;
    position: absolute;
    top: 450px;
    right: 200px;      
}
.botao:hover{
    background-color: var(--cor-5);
    color: var(--cor-4);
    transition: 0.5s;
}
.camiseta-imagem span{
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px 10px;
    background: var(--cor-5);
    color: var(--cor-4);
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
}

    