
.k1{
  max-width: 100%;
  grid-column: 2;
}

.k2{
    width: 100%;
    display: block;
}

.slider-container{
    padding: 50px;
}

#slider{
    width: 100%;
    max-width: 1000px;
    height: 50vw;
    max-height: 1000px;
    position: relative;
    justify-content: center;
    align-content: center;
    padding: 0px;
    margin: 0px;
      

}

#slider img{
    
    position: absolute;
   width:70%;
   height: 99%;
   object-fit: cover;
   opacity: 0;
   transition: opacity 800ms;
   padding-left: 320px;
}

#slider img.selected{
    opacity: 1;
}

