.introducao{
    background: var(--cor-3);
    width: 100%;
    margin-left: 0rem;
}
.introducao-p{
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-family: lato;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
}
.introducao-h1{
    padding-left: 2rem;
    padding-bottom: 2rem;
    font-size: 5rem;
    font-family: 'Lato', sans-serif;    
}
/*____________________________________*/
